.lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.lessonInfo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;
}

