.lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.lessonTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.lessonInfo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;
}

.meter {
    height: 20px;
    width: 50%;
    position: relative;
    box-shadow: 0 0 5px rgb(192, 192, 192);
    border-radius: 25px;
    padding: 0px;
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: #1da1f2;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .lessonInfo {
        width: 65%;
    }
}

@media screen and (max-width: 490px) {
    .lessonInfo {
        width: 70%;
    }
}

