.unit {
  padding: 88px 0;
}

.section-header {
  text-align: center;
}
.section-header h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section-header hr {
  border: 1px solid #36454F;
  width: 56px;
}

.steps {
  position: relative;
  margin-top: 32px;
}
.steps::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #36454F;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-bottom: 32px;
}

.steps-container {
  position: relative;
  background-color: inherit;
  width: calc(50% + 32px);
  display: flex;
  left: calc(50% - 31px);
}

.date {
  font-weight: 900;
  font-size: 36px;
  color: #36454F;
  margin-bottom: 30px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 777;
  cursor: pointer;
}

.date:hover {
  transform: scale(1.2);
}

