.wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.breaks {
    stroke-width: 20;
    fill: none;
    stroke-dasharray: 20.91 230.08;
    transform: rotate(-15);
}

.a-note {
    stroke: #00A36C;
    stroke-dashoffset: 10;
}

.d-note {
    stroke: #50C878;
    stroke-dashoffset: 30.91;
}

.g-note {
    stroke: #AAFF00;
    stroke-dashoffset: 51.81;
}

.c-note {
    stroke: #FFDB58;
    stroke-dashoffset: 72.71;
}

.f-note {
    stroke: #FF7F50;
    stroke-dashoffset: 93.61;
}

.bb-note {
    stroke: #5D3FD3;
    stroke-dashoffset: 114.51;
}

.eb-note {
    stroke: #4169E1;
    stroke-dashoffset: 135.41;
}

.ab-note {
    stroke: #4682B4;
    stroke-dashoffset: 156.31
}

.db-note {
    stroke: #89CFF0;
    stroke-dashoffset: 177.21;
}

.gb-note {
    stroke: #7DF9FF;
    stroke-dashoffset: 198.11;
}

.b-note {
    stroke: #96DED1;
    stroke-dashoffset: 219.02;
}

.e-note {
    stroke: #9FE2BF;
    stroke-dashoffset: 240.02;
}

.text {
    font-size: 10px;
    font-weight: 700;
    text-anchor: middle;
    fill: #36454F;
}