.cls-1 {
    clip-path: url(#clip-Custom_Size_1);
  }

  .cls-2, .cls-5 {
    fill: none;
  }

  .cls-2, .cls-3 {
    stroke: #707070;
  }

  .cls-3, .cls-6 {
    fill: #fff;
  }

  .cls-4 {
    stroke: none;
  }