.cls-1 {
    clip-path: url(#clip-Custom_Size_1);
  }

  .cls-2, .cls-5 {
    fill: none;
  }

  .cls-2, .cls-3 {
    stroke: #707070;
  }

  .cls-6 {
    fill: #fff;
  }

  .cls-4 {
    stroke: none;
  }

  .cls-3 {
    fill: hsl(calc(var(--hue)*360/20),90%,65%);
    cursor: pointer;
  }

  .cls-3:nth-child(14n+1){
    --hue: 1;
  }
  .cls-3:nth-child(14n+2){
    --hue: 2;
  }
  .cls-3:nth-child(14n+3){
    --hue: 3;
  }
  .cls-3:nth-child(14n+4){
    --hue: 4;
  }
  .cls-3:nth-child(14n+5){
    --hue: 5;
  }
  .cls-3:nth-child(14n+6){
    --hue: 6;
  }
  .cls-3:nth-child(14n+7){
    --hue: 7;
  }
  .cls-3:nth-child(14n+8){
    --hue: 8;
  }
  .cls-3:nth-child(14n+9){
    --hue: 9;
  }
  .cls-3:nth-child(14n+10){
    --hue: 10;
  }
  .cls-3:nth-child(14n+11){
    --hue: 11;
  }
  .cls-3:nth-child(14n+12){
    --hue: 12;
  }
  .cls-3:nth-child(14n+13){
    --hue: 13;
  }
  .cls-3:nth-child(14n+14){
    --hue: 14;
  }