@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

html * {
    font-family: 'Concert_One';
}

body {
    margin: 0px;
}